
Example/iOS debug widget example.xcodeproj/xcuserdata/sebastian.xcuserdatad/xcschemes/iOS debug widget example.xcscheme

Example/iOS debug widget example.xcodeproj/project.xcworkspace/xcshareddata/iOS debug widget example.xccheckout

Example/iOS debug widget example.xcodeproj/xcuserdata/sebastian.xcuserdatad/xcschemes/xcschememanagement.plist

Example/iOS debug widget example.xcodeproj/xcuserdata/sebastian.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Example/iOS debug widget example/Base.lproj/Main.storyboard
